websites/Xplore_App/App_WebReferences/ServiceReference3/ElecServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ElectiveServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ElectiveServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TwitterTrending">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrendList" nillable="true" type="tns:ArrayOfTrends" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TwitterTrending" nillable="true" type="tns:TwitterTrending" />
  <xs:complexType name="ArrayOfTrends">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trends" nillable="true" type="tns:Trends" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrends" nillable="true" type="tns:ArrayOfTrends" />
  <xs:complexType name="Trends">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trends" nillable="true" type="tns:Trends" />
  <xs:complexType name="TweetCount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tweets" nillable="true" type="tns:ArrayOfTweets" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TweetCount" nillable="true" type="tns:TweetCount" />
  <xs:complexType name="ArrayOfTweets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tweets" nillable="true" type="tns:Tweets" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTweets" nillable="true" type="tns:ArrayOfTweets" />
  <xs:complexType name="Tweets">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tweets" nillable="true" type="tns:Tweets" />
</xs:schema>